/* CSS declarations go here */
body, html {
    padding:0;
    margin:0;
}
.navbar {
    display:flex;
    background:rgba(16, 6, 159, 0.9);
    color:#FeF;
    position:relative;
}
.nav-brand {
    margin:1.3rem 1.5rem 2rem 3rem;
}
nav {
    position:absolute;
    top:1rem;
    right:0;
    padding-right:3rem;
}
nav ul {
    list-style: none;
}
nav > ul > li {
    float:left;
    position:relative;
    margin:0;
    padding:0;
}
nav > ul > li a:hover {
    color:rgba(102, 95, 192, 1)
}
.navbar ul a {
    display:block;
    color:white;
    text-decoration: none;
    padding:1rem;
}
nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:rgba(102, 95, 192, 1);
    transition: all ease-in-out 1s;
    transition-delay: 5s;
    padding:0;
}
/*  TODO: figure out the specificity issue with the link not using color below
*/
nav ul ul a {
    line-height: 120%;
    padding: 10px 15px;
    color:rgba(16, 6, 159, 0.9);
}
nav ul ul li {
    float:none;
    width:100%;
}
nav ul li:hover ul  {
    display:block;
}